Package: com.ajaidan.scrollbarbegone
Name: ScrollBarBEGONE
Version: 1.0
Architecture: iphoneos-arm
Description: A tweak to remove the Scroll Indicator from iOS.
Maintainer: ajaidan0
Author: ajaidan0
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
